<div class="row">
  <div class="col-sm-12">
    <div class="her-error"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Delete your account?</h1>
    <form action="/delete-account" method="post">
      <input type="submit" value="Delete!">
    </form>
  </div>
</div>
